@media (max-width: 1200px) {
    .promo {
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__wrapper {
            padding-right: 10px;
        }
    }
    .preimush {
        &__item {
            margin-right: 20px;
        }
    }
}
@media (max-width: 768px) {
    .promo {
        min-width: unset;
        &__subheader {
            font-size: 17px;
        }
        &__header {
            font-size: 30px;
        }
    }
    .header {
        padding: 0 10px;
        &__offical {
            display: none;
        }
    }
    .preimush {
        &__items {
            flex-wrap: wrap;
        }
        &__item:last-child {
            margin-top: 30px;
        }
    }
}
@media (max-width: 442px) {
    .button {
        width: 125px;
        height: 25px; 
        &_main {
            width: 160px;
            height: 60px;
        }
    }
    .header {
        &__phone {
            font-size: 14px;
        }
        &__logo {
            width: 200px;
            padding-top: 10px;
            padding-right: 5px;
        }
        &_h2 {
            font-size: 25px;
        }
    }
    .promo {
        min-width: unset;
        &__subheader {
            font-size: 12px;
        }
        &__header {
            font-size: 22px;
        }
        &__icons {
            width: 335px;
            width: 100%;
        }
        &__icon {
            margin-left: 10px;
        }
    }
}
@media (max-width: 320px) {
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .header {
        &_h2 {
            font-size: 20px;
        }
    }
}