@import 'libx/bootstrap-reboot.min';
@import 'libx/font';
@import 'libx/slick';
@import 'libx/tiny-slider';
@import 'libx/animate';

@import 'base/veriable';
@import 'base/mixin';
@import 'base/animation';
* {
  font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/preimush';
@import 'blocks/consultation';
@import 'blocks/title';
@import 'blocks/corousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';
@import 'base/media';

