.overlay {
   display: none;
   position: fixed;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.56);
   z-index: 2;
   // overflow: hidden;
}

.modal {
   // display: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 38px 40px 40px 40px;
   width: 380px;
   min-height: 400px;
   background-color: #f2f2f2;
   z-index: 3;

   &__close {
      position: absolute;
      top: 0;
      right: -40px;
      font-size: 55px;
      color: $red;
      line-height: 30px; 
      cursor: pointer;     
   }
   &__title {
      color: #0d0d0d;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 11px;
   }

   &__subtitle {
      color: #0d0d0d;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
   }

   &_mini {
      min-height: 140px;
   }

   .error {
      border: 1px solid $red;
      &:focus {
         border: none;
      }
   }

   label.error {
      border: none;
      color: red;
      position: relative;
      top: -10px;
      font-size: 13px;
      text-align: center;
      margin-bottom: 11px;
   }
}

#consultation, #order, #mini {
   display: none;
}